<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>104613492419-k8uq77resms1qr70c0193asbpbaj70l0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.104613492419-k8uq77resms1qr70c0193asbpbaj70l0</string>
	<key>API_KEY</key>
	<string>AIzaSyD_tHOrPr9iCw-EvXi6suI6Rjus0B5UEi8</string>
	<key>GCM_SENDER_ID</key>
	<string>104613492419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>poterpan.IncognitoEarth</string>
	<key>PROJECT_ID</key>
	<string>incognitoearth-test</string>
	<key>STORAGE_BUCKET</key>
	<string>incognitoearth-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:104613492419:ios:6753982ebf2d5702975476</string>
</dict>
</plist>